@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

@layer utilities {
  .input-class {
    @apply text-16 placeholder:text-16 rounded-lg border border-gray-300 text-gray-900 placeholder:text-gray-500;
  }

  .sheet-content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
  }

  .text14_padding10 {
    @apply text-14 px-4 py-2.5 font-semibold;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .header-2 {
    @apply text-18 font-semibold text-gray-900;
  }

  .text-10 {
    @apply text-[10px] leading-[14px];
  }

  .text-12 {
    @apply text-[12px] leading-[16px];
  }

  .text-14 {
    @apply text-[14px] leading-[20px];
  }

  .text-16 {
    @apply text-[16px] leading-[24px];
  }

  .text-18 {
    @apply text-[18px] leading-[22px];
  }

  .text-20 {
    @apply text-[20px] leading-[24px];
  }

  .text-24 {
    @apply text-[24px] leading-[30px];
  }

  .text-26 {
    @apply text-[26px] leading-[32px];
  }

  .text-30 {
    @apply text-[30px] leading-[38px];
  }

  .text-36 {
    @apply text-[36px] leading-[44px];
  }

  .text-56 {
    @apply text-[56px] leading-[64px];
  }

  /* Home */

  .company-details {
    @apply flex flex-col justify-between p-3;
  }

  .business-name {
    @apply text-3xl font-semibold text-gray-900 overflow-hidden whitespace-nowrap overflow-ellipsis;
  }

  .business-guide {
    @apply text-10 lg:text-12 font-normal text-gray-600 p-0.5;
  }

  .form-link {
    @apply text-14 cursor-pointer font-medium text-bankGradient;
  }

  .to-home {
    @apply text-16 text-blue-950;
  }

  .nav-to-end {
    @apply flex;
  }

  /* SemiCircleNav */

  .horizontal-semi-circle-nav {
    position: relative;
    width: 300px;
    /* Full semi-circle width */
    height: 150px;
    /* Semi-circle height */
    margin: 0 auto;
    /* Center the semi-circle horizontally */
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    overflow: hidden;

    border: 2px solid #00796b;
  
    .nav-item {
      position: absolute;
      top: 50%;
      /* Center items vertically relative to the semi-circle */
      left: 50%;
      /* Center items horizontally */
      transform-origin: center bottom;
      /* Rotate around the semi-circle center */
      text-align: center;
      cursor: pointer;
  
      .label {
        font-size: 14px;
        font-weight: bold;
      }
  
      .sub-label {
        font-size: 12px;
        color: #777;
      }
  
      &:hover {
        transform: scale(1.2) translateY(-10px);
        /* Hover effect */
      }
    }
  }

}